<div class="aspect-auto aspect-1/1 aspect-2/3 aspect-16/9"></div>
<div class="pb-[56.25%] lg:pb-[56%] before:pb-[56.25%]"></div>
<div class="pb-[150.0%] lg:pb-[150%] before:pb-[150.0%]"></div>
<div class="pb-[75.0%] lg:pb-[75%] before:pb-[75.0%]"></div>
<div class="pb-[100.0%] lg:pb-[100%] before:pb-[100.0%]"></div>
<div class="lg:grid-cols-1 lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4 lg:grid-cols-5 lg:grid-cols-6"></div>
<div class="grid-cols-1 grid-cols-2"></div>
<div class="md:columns-1 md:columns-2 md:columns-3 md:columns-4 md:columns-5"></div>
<div class="content-article-spacing-2 content-article-bg-2 content-article-default-2 content-article-default-rtl-2 content-article-2"></div>
<div class="content-article-spacing-1 content-article-bg-1 content-article-default-1 content-article-1"></div>
<div class="article-1 article-bg-1 article-2 article-bg-2"></div>
<div class="article-layout-1 article-layout-2 article-layout-rtl-2"></div>
<div class="blog-position-left blog-position-right"></div>
<div class="md:pb-[56%] md:pb-[150%] md:pb-[100%] md:pb-[133%] md:pb-[75%] lg:h-[400px] lg:h-[450px] lg:h-[550px]"></div>

<div class="pb-[100%] pb-[150%] pb-[75%] pb-[56%] pb-[133%] pb-[133.0%] before:pb-[100%] before:pb-[150%] before:pb-[133%] before:pb-[133.0%] before:pb-[75%] before:pb-[56%]"></div>
<div class="otsb-heading-center"></div>